.accordion-items-container * {
  margin-left: 1rem;
}

.accordion-items-container .bi {
  font-size: 1.5rem;
}
.modal-body .bi {
  font-size: 1.5rem;
}
.accordion-items-container img {
  height: 1.5rem;
}
.modal-body img {
  height: 1.5rem;
}
.modal-body .btn .navbar {
  background-color: red;
}

#clearFilter i {
  margin-left: 1rem;
  font-size: 1.5rem;
}
#clearFilter .bi-x-circle-fill {
  margin-left: -0.5rem;
  font-size: 1rem;
}

#clearFilter img {
  margin: 0.5rem 0 0.5rem 1rem;

  height: 1.5rem;
}
