.accordion-items-container * {
  margin-left: 1rem;
}

.accordion-items-container .bi {
  font-size: 1.5rem;
}
.modal-body .bi {
  font-size: 1.5rem;
}
.accordion-items-container img {
  height: 1.5rem;
}
.modal-body img {
  height: 1.5rem;
}
.modal-body .btn .navbar {
  background-color: red;
}
